{
	"GENERAL": {
		"logFile": "/tmp/logfetcher.log",
		"logLevel": "debug",
		"logCheckInterval": 10,
		"statusLogInterval": 60,
		"transferTaskLimit": 200,
		"timeout": 5
	},
	"CONSTANTS": {
		"TIME_STAMP": "%Y-%m-%d-%H_%M_%S%z"
	},
	"HOSTS": [
		{
			"name": "gotthard",
			"sshConnect": [
				"gotthard-adm"
			],
			"logFiles": [
				{
					"globPattern": "/var/adm/messages.*",
					"filterRegexp": "\\.\\d+$",
					"destinationFile": "/scratch/archive/gotthard/%Y/%m/messages-${TIME_STAMP}.gz"
				},
				{
					"globPattern": "/var/log/syslog.*",
					"destinationFile": "/scratch/archive/gotthard/%Y/%m/syslog-${TIME_STAMP}.gz"
				}
			]
		},
		{
			"name": "james",
			"sshConnect": [
				"james-adm"
			],
			"logFiles": [
			{
				"globPattern": "/var/log/apache/*access.*",
				"filterRegexp": "([^/]+-access.log)\\.\\d+$",
				"destinationFile": "/scratch/archive/james/%Y/%m/${RXMATCH_1}-${TIME_STAMP}.gz"
			},
			{
				"globPattern": "/var/log/apache/*error.*",
				"filterRegexp": "([^/]+-error.log)\\.\\d+$",
				"destinationFile": "/scratch/archive/james/%Y/%m/${RXMATCH_1}-${TIME_STAMP}.gz"
			}
			]
		}
	]
}
